* {
  box-sizing: border-box;
}

html {
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #CDCCCC;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

html, input {
  font-family:
    "HelveticaNeue-Light",
    "Helvetica Neue Light",
    "Helvetica Neue",
    Helvetica,
    Arial,
    "Lucida Grande",
    sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  word-wrap: break-word;
}

/* Grid layout */
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}


/* Pages */

.pages {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.page {
  height: 100%;
  position: absolute;
  width: 100%;
}

/* Login Page */

.login.page {
  background-color: powderblue;
  cursor: pointer;
}

.login.page .form {
  height: 100px;
  margin-top: -100px;
  position: absolute;

  text-align: center;
  top: 50%;
  width: 100%;
}

.login.page .form .usernameInput {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #fff;
  outline: none;
  padding-bottom: 15px;
  text-align: center;
  width: 400px;
}

.login.page .title {
  font-size: 200%;
}

.login.page .usernameInput {
  font-size: 200%;
  letter-spacing: 3px;
}

.login.page .title, .login.page .usernameInput {
  color: #fff;
  font-weight: 100;
  color: #000080;
}

/* Chat page */

.chat.page {
  display: none;
}

/* Options */
.options{
  background-color: powderblue;
  height: 20vh;
  width: 100vw;
  grid-column: span 2 / auto;
}
/* Font */

.messages {
  font-size: 150%;
}

.inputMessage {
  font-size: 100%;
}

.log {
  color: gray;
  font-size: 70%;
  margin: 5px;
  text-align: center;
}

/* Messages */

.chatArea {
  position: relative;
  border: 10px solid powderblue;
  padding-bottom: 60px;
  width: 100%;
  max-width: 50vw;
  grid-rows: 900px 5em auto;
  height: 80vh;
}

.messages {
  height: 100%;
  margin: 0;
  overflow-y: scroll;
  padding: 10px 20px 10px 20px;  
}

.message.typing .messageBody {
  color: gray;
}

.username {
  font-weight: 700;
  overflow: hidden;
  padding-right: 15px;
  text-align: right;
}

/* Input */

.inputMessage {
  border: 10px solid powderblue;
  bottom: 0;
  height: 5vw;
  left: 0;
  outline: none;
  padding-left: 10px;
  position: relative;
  right: 0;
  width: 100%;
}

.btn {
  background: rgb(255, 255, 255);
  border: 1px solid rgb(174, 174, 174);
  border-radius: 4px;
  box-shadow: inset 0 0 7px rgb(236, 236, 236), 0 1px 1px rgb(232, 232, 232);
  color: DodgerBlue; 
  cursor: pointer;
  font-size: 16px;
  height: 20vh;
  width: 16vw;
  line-height: 23px;
  padding: 15px 32px;
  text-align: center;
  transition: color 0.3s ease-out, border-color 0.3s ease-out, box-shadow 0.3s ease-out;
  
  border-color: rgb(92, 176, 226);
  box-shadow: inset 0 0 7px rgb(224, 239, 249), 0 1px 1px rgb(163, 205, 229);
  margin-left: 0.1vw;
  margin-right: 0.1vw;
}

#mic{
  height: 10%;
  width: 100%;
}


/**
 * Canvas
 */

.sidePanel {
  display: inline-block;
  position: absolute;
  background-color: white;
  width: 100%;
  max-width: 50vw;
  left: 50%;
  top:20vh ;
  border: 10px solid powderblue;
  height: 80vh;
 
}

#upload{
  overflow-y: scroll;
  
}


 
/**
 * Canvas
 */

* {
  box-sizing: border-box;
}

.whiteboard {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

.colors {
  position: relative;
}

.color {
  display: inline-block;
  height: 48px;
  width: 48px;
}

.color.black { background-color: black; }
.color.red { background-color: red; }
.color.green { background-color: green; }
.color.blue { background-color: blue; }
.color.yellow { background-color: yellow; }


